@using DuolingoSk.Model;
@using DuolingoSk.Models;
@model StudentVM

@{
    ViewBag.Title = "Register";
}

@{
    // Get Agent feee to display
    DuolingoSk_Entities _db = new DuolingoSk_Entities();
    tbl_GeneralSetting setting = _db.tbl_GeneralSetting.FirstOrDefault();
}
 


<style>
    .text-danger {
        text-align: left;
    }
</style>

<section class="w3l-contact-breadcrum" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/7.jpg);">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Register</p>
        </div>
    </div>
</section>

<!-- Login -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="heading text-center mx-auto">
                <h3 class="head">Student Register</h3>
                <p><hr /></p>
            </div>

            <div class="row cont-main-top">

                <div class="contacts12-main col-lg-12">
                    <center>
                        @using (Html.BeginForm("Index", "StudentRegister", FormMethod.Post, new { @id = "StudentUserFormId", @class = "main-input", enctype = "multipart/form-data", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "", @placeholder = "Enter First Name", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "", @placeholder = "Enter Last Name", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "", @placeholder = "Enter Email Id", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "", @placeholder = "Enter Mobile No", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "", @placeholder = "Enter Password", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "clsDatePicker", @placeholder = "DD/MM/YYYY", maxlength = "200", @readonly="@readonly" } })

                                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "", @placeholder = "Enter Address", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "text-left" })
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "", @placeholder = "Enter City", maxlength = "200" } })

                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>

                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Registration Fee *</label>
                                <input type="text" placeholder="Registration Fee" value="@setting.RegistrationFee" disabled>
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Total Exam Attempts *</label>
                                <input type="text" placeholder="Total Exam Attempts" value="@setting.TotalExamAttempt" disabled>
                            </div>
                            <div class="text-left col-lg-6">
                                <button type="submit" class="btn btn-theme2">Sign Up</button>
                            </div>
                        }
                    </center>
                </div>
                <!-- //contact form -->

            </div>
        </div>

    </div>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/admin_assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    jQuery(document).ready(function () {

        jQuery(".clsDatePicker").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });

    });

</script>