@using DuolingoSk.Model;
@using DuolingoSk.Models;
@using DuolingoSk.Helper;

@model List<ExamVM>
@{
    ViewBag.Title = "ExamList";

    int counter = 1;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Exam List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Exam List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Exam List</h5>
            </div>
            <div class="card-body vendor-table">

                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="5%;">#</th>
                            <th>Exam Date</th>
                            <th>Student Name</th>
                            <th>Agent Name</th>
                            <th>Exam Level</th>
                            <th>Result Status</th>
                            <th>Score</th>
                            <th width="10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (ExamVM obj in Model)
                            {
                        <tr class="grade">
                            <td>@counter.</td>
                            <td>@Convert.ToDateTime(obj.ExamDate).ToString("dd/MM/yyyy")</td>
                            <td>@obj.StudentName</td>
                            <td>@obj.AgentName</td>
                            <td>@obj.LevelName</td>
                            <td>@(obj.ResultStatus == 1 ? "Pending" : "Complete")</td>
                            <td>@obj.Score</td>
                            <td>
                                <a title="View" href="/admin/exam/detail/@obj.Exam_Id"><i class="fa fa-eye mr-2 font-success"></i></a>
                            </td>
                        </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
 
<script>

    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });
     
</script>