@using DuolingoSk.Model;
@using DuolingoSk.Models;
@using DuolingoSk.Helper;

@model FeeWisePackageVM
@{
    ViewBag.Title = "Fee Wise exam list";
    int counter = 1;
}

<section class="w3l-contact-breadcrum" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/7.jpg);">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / <a href="/renewaccount">Fee List</a> / &nbsp; Fee wise exam attend list</p>
        </div>
    </div>
</section>

<!-- Login -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="heading text-center mx-auto">
                <h3 class="head">Fee wise exam attend list</h3>
                <p><hr /></p>
            </div>

            <div class="row">
                <form action="/Client/StudentRegister" class="customform" enctype="multipart/form-data" id="StudentUserFormId" method="post" onsubmit="return CheckRegister();" role="form" novalidate="novalidate">
                    <div class="form-group col-sm-3">
                        <label style="font-weight: bold;">Fee Date</label>
                        <p>@Model.FeeDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="form-group col-sm-3">
                        <label style="font-weight: bold;">Package Name</label>
                        <p>@Model.PackageName</p>
                    </div>
                    <div class="form-group col-sm-3">
                        <label style="font-weight: bold;">Total Exam Attempts</label>
                        <p>@Model.TotalExamAttempt</p>
                    </div>
                    <div class="form-group col-sm-3">
                        <label style="font-weight: bold;">Total Used Exams</label>
                        <p>@Model.UsedTotalExams</p>
                    </div>
                </form>
            </div>

            <div class="row cont-main-top">

                <div class="table-responsive" style="margin-top : 50px; margin-bottom : 50px;">
                    <table id="tblGrid" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="15%">Sr No.</th>
                                <th>Exam Date</th>
                                <th>Package Name</th>
                                <th>Level Name</th>
                                <th>Result Status</th>
                                <th>Score</th>
                                <th width="10%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.lstUsedPackageExam.Count > 0)
                            {
                                foreach (ExamVM obj in Model.lstUsedPackageExam)
                                {
                                    <tr class="grade">
                                        <td>@counter.</td>
                                        <td>@Convert.ToDateTime(obj.ExamDate).ToString("dd/MM/yyyy")</td>
                                        <td>@obj.PackageName</td>
                                        <td>@obj.LevelName</td>
                                        <td>@(obj.ResultStatus == 1 ? "Pending" : "Complete")</td>
                                        <td>@Convert.ToInt32(obj.OverAllScore)</td>
                                        <td>
                                            @if (obj.ResultStatus == 2)
                                            {
                                                <a title="Result" href="/client/myexams/downloadcertificate?examid=@obj.Exam_Id" target="_blank"><i class="fa fa-list-alt mr-2 font-success"></i></a>
                                            }
                                            @*<a title="View" href="/admin/myexam/detail/@obj.Exam_Id"><i class="fa fa-eye mr-2 font-success"></i></a>*@
                                        </td>
                                    </tr>
                                    counter++;
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
