@using DuolingoSk.Model;
@using DuolingoSk.Models;
@using DuolingoSk.Helper;
@{

    DuolingoSk_Entities _db = new DuolingoSk_Entities();

    List<tbl_Package> lstPackages = _db.tbl_Package.Where(x => x.IsActive && !x.IsDeleted).Take(6).ToList();

    // Get list of categories
    List<List<tbl_Package>> dataPackagesVMs = CommonMethod.GetPackagesForSlider();

}

<style>

    .clsPackageSlider .customers-6-content img {
        width: 100%;
        border-radius: 0%;
        width: 400px;
        height: 400px;
    }

    .clsPackageSlider .card-body {
        padding: 0px;
    }
</style>

<!--  Main banner section -->
<section class="w3l-main-banner" id="home">
    <div class="companies20-content">
        <div class="companies-wrapper">
            <div class="item">

                <div class="slider-info banner-view text-center" style="background: url(/Content/client_assets/images/sk/8.jpg) no-repeat right;">
                    <div class="banner-info container">
                        <img src="~/Content/client_assets/images/c1.jpg" alt="about image" class="img-fluid">
                        <h3 class="banner-text mt-5">
                            Perfect Practice Platform For Duolingo
                        </h3>
                        <p class="my-4 mb-5">Special Mega offers for first 500 participants</p><br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="services-12" id="experience">
    <img src="/Content/client_assets/images/sk/mega-sale-banner.jpg" class="img-fluid" alt="Responsive image">     
</section>
 
@if (dataPackagesVMs != null && dataPackagesVMs.Count > 0)
{
    <div class="container my-4 py-5">

        <div class="heading text-center mx-auto">
            <h3 class="head">Packages</h3>
        </div>

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev" title="Previous"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating" href="#multi-item-example" data-slide="next" title="Next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                @{ int indicator = 0; }
                @foreach (List<tbl_Package> listPackages in dataPackagesVMs)
                {
                    <li data-target="#multi-item-example" data-slide-to="@indicator" class="@(indicator == 0 ? "active" : "")"></li>
                    indicator++;
                }

            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                @{ int indicator2 = 0; }
                @foreach (List<tbl_Package> listPackages in dataPackagesVMs)
                {
                    <div class="carousel-item @(indicator2 == 0 ? "active" : "")">

                        <div class="row">
                            @foreach (tbl_Package obj in listPackages)
                            {
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        @if (!string.IsNullOrEmpty(obj.PackageImage) && File.Exists(Server.MapPath(ErrorMessage.PackageDirectoryPath + "/" + obj.PackageImage)))
                                        {
                                            <img class="card-img-top" src="@ErrorMessage.PackageDirectoryPath/@obj.PackageImage" alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="@ErrorMessage.DefaultImagePath" alt="Card image cap">
                                        }

                                    <div class="card-body">
                                        <h4 class="card-title">@obj.PackageName</h4>
                                        <p class="card-text">
                                            @obj.PackageAmount
                                        </p>
                                        @*<a class="btn btn-theme2">Buy</a>*@
                                        <a href="/register" class="btn btn-theme2">Buy Now</a>
                                    </div>

                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    indicator2++;
                }

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->

    </div>
}
 
<div class="products-4" id="portfolio">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center" style="padding-top: 0px;">
        <div class="container">
            <div class="heading text-center mx-auto mb-5">
                <h3 class="head">
                    WHY Sk International?
                </h3>
                <p class="my-3 head">
                    Get the desired score in Duolingo test which help you to reach your destiny. Our main aim is only to help aspirants with providing proper guidance and quality education to ace any English proficiency test. We will give you the assurance that you will get the best practice test and materials aligned with official standards.
                </p>
            </div>
            <section class="services-12" id="experience">
                <img src="~/Content/client_assets/images/sk/duo-infographic-illustrations.jpg" class="img-fluid" alt="Responsive image" style="width:80%;">
            </section>

        </div>
    </div>
    <!-- Products4 block -->
</div>

<section class="services-12" id="experience">
    <div class="form-12-content" style="        background: url(/Content/client_assets/images/sk/5.jpg) no-repeat center;">
        <div class="container">
            <div class="grid grid-column-2 ">

                <div class="column1">
                    <h3 class="mb-5">Experiences</h3>
                    <div class="experience-top">
                        <h4> Priceless Content </h4>
                        <p class="my-3 text-white">Our expert team prepares duolingo test series which is similar to real Duolingo exam; this will help aspirants to achieve their dream scores.</p>
                    </div>
                    <div class="experience-top">
                        <h4>Expert Team Support</h4>
                        <p class="my-3 text-white">Our expert team is always ready to help you personally and solve all your doubts (as soon as possible).</p>
                    </div>
                </div>
                <div class="column2">
                    <h3 class="mb-5">Education</h3>
                    <div class="experience-top">
                        <h4>Technical Team Support</h4>
                        <p class="my-3 text-white">Duolingo Expert team is available to answer your question. Live chat option available. Track your question & Get instant answers.</p>
                    </div>
                    <div class="experience-top">
                        <h4>Testing Platform</h4>
                        <p class="my-3 text-white">Test series are prepared by Duolingo certified teachers who have proper knowledge about this test and they are the backbone of several successful students who have achieved their dreams scores in Duolingo exam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-testimonials" id="testimonials">
    <div class="customers-6-content py-5">
        <div class="container py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Testimonial</h3>
                @*<p class="my-3 head ">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Nulla mollis dapibus nunc, ut rhoncus
                        turpis sodales quis. Integer sit amet mattis quam.
                    </p>*@
            </div>

            <div id="customerhnyCarousel1" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#customerhnyCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customerhnyCarousel1" data-slide-to="1"></li>

                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner pb-5">

                    <div class="carousel-item active">
                        <div class="customer row py-5 mt-3">
                            <div class="col-lg-4 col-md-6">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Content/client_assets/images/testimonial/user1.jpeg" alt="">
                                        <h3 class="card-title mt-2 mb-2">Amin Zarna</h3>
                                        @*<p class="sub-title mb-3">Photographer</p>*@
                                        <p class="card-text">
                                            "I like the way of teaching, the cooperative atmosphere and that the courses are affordable and I can choose the most convenient time for me."
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 off-testi-2">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Content/client_assets/images/testimonial/user2.jpeg" alt="">
                                        <h3 class="card-title mt-2 mb-2">Shah Vishwa</h3>
                                        @*<p class="sub-title mb-3">Web Designer</p>*@
                                        <p class="card-text">
                                            "I think the method is good and I like how the teachers involved in helping the students are very approachable and their lessons were very useful for me."
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Content/client_assets/images/testimonial/user3.jpeg" alt="">
                                        <h3 class="card-title mt-2 mb-2">Pavan Patel</h3>
                                        @*<p class="sub-title mb-3">Graphic Designer</p>*@
                                        <p class="card-text">
                                            "I like the course of conversation because the teachers are great and we are a few people in each batch, so we have the chance to practise a lot. They are experienced and have great skill."
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="customer row py-5 mt-3">
                            <div class="col-lg-4 col-md-6">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Content/client_assets/images/testimonial/user4.jpeg" alt="">
                                        <h3 class="card-title mt-2 mb-2">Yash Panchal</h3>
                                        @*<p class="sub-title mb-3">Engineer</p>*@
                                        <p class="card-text">
                                            "The teachers are very helpful and friendly. They explain everything clearly. The atmosphere is very nice. I met a lot of amazing people. It was a good experience for me."
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 off-testi-2">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Content/client_assets/images/testimonial/user5.jpg" alt="">
                                        <h3 class="card-title mt-2 mb-2">Shital Solanki</h3>
                                        @*<p class="sub-title mb-3">Web Designer</p>*@
                                        <p class="card-text">
                                            "I'd study at this school again because my English has improved and I like the method of teaching with most experienced staff. In only 2 weeks my English has gotten better."
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Content/client_assets/images/testimonial/user6.jpeg" alt="">
                                        <h3 class="card-title mt-2 mb-2">Akshay Patel</h3>
                                        @*<p class="sub-title mb-3">Graphic Designer</p>*@
                                        <p class="card-text">
                                            "I really enjoy the conversation class. The teachers are professional and students in my batch are nice. I have got lots of new friends in this batch and learn many more."
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
                <!--.carousel-inner-->
            </div>
        </div>
    </div>
</section>
 